<div class="home">
  <h1>Welcome to Andela Ride My Way Application</h1>
  <section class="home__image">
    <%= image_tag('car.png', alt: 'car image') %>
  </section>
  <section class="home__content">
    <p>Kindly view available offers/requests before adding an offer/request</p>
    <a href="/rides"><button class="btn btn-primary">View Offers</button></a>
    <a href="/rides"><button class="btn btn-primary">View Requests</button></a>
  </section>
</div>
